/* add css styles here (optional) */

.wrapper {
  display: inline-block;
  font-size: inherit;
  margin-top: 1em;
  position: relative;
  line-height: 1.6;
}
.furigana {
  position: absolute;
  top: -42%;
  font-size: 35%;
  width: 100%;
  text-align: center;
}
.kanji {}
.kanjiWrapper {
  position: relative;
}
